<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap5/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/assets/css/login.css" rel="stylesheet">
</head>

<body class="text-center">

    <main class="form-signin-register">
        <%- body %>
    </main>

</body>

</html>